
<div style="background-color:#ada">

<%= @globber %> is a <%= @fobber %>


<ul>
<% @boop.each do |q| %>
  <li> <%= q %> </li>
<% end %>
</ul>

<ul>
<% @hoop.each do |q| %>
  <li> <%= q %> </li>
<% end %>
</ul>


</div>


<%= link_to "AucIt", root_path %> 
